{% extends "index.html" %}

{% block content_table %}

<table class="mx-auto border-collapse border border-gray-600">
    <thead>
        <tr>
            <th class="p-2 border border-gray-600">Class</th>
            <th class="p-2 border border-gray-600">Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="p-2 border border-gray-600">Can</td>
            <td class="p-2 border border-gray-600">{{cls[0]}}</td>
        </tr>
        <tr>
            <td class="p-2 border border-gray-600">HDPE</td>
            <td class="p-2 border border-gray-600">{{cls[1]}}</td>
        </tr>
        <tr>
            <td class="p-2 border border-gray-600">PET Bottle</td>
            <td class="p-2 border border-gray-600">{{cls[2]}}</td>
        </tr>
        <tr>
            <td class="p-2 border border-gray-600">Tetrapak</td>
            <td class="p-2 border border-gray-600">{{cls[3]}}</td>
        </tr>
        <tr>
            <td class="p-2 border border-gray-600">Plastic Wrapper</td>
            <td class="p-2 border border-gray-600">{{cls[4]}}</td>
        </tr>
    </tbody>
</table>

{% endblock %}